# Exercises: Day 5

## Exercises: Level 1

Task 1:Declare an empty list

In [1]:
empty_list = []
print(empty_list)

[]

Task 2:Declare a list with more than 5 items

In [2]:
phones = ['Samsung', 'Iphone', 'Nokia', 'Techno', 'Infinix', 'Redmi', 'Itel', 'Oppo', 'Vivo']

Task 3:Find the length of your list

In [4]:
print(len(phones))

9

Task 4:Get the first item, the middle item and the last item of the list

In [5]:
first_item = phones[0]
print('The first item is:' ,first_item)

middle_item = phones[4]
print('The middle item is:' ,middle_item)

last_item = phones[8]
print('The last item is:', last_item)

The first item is: Samsung
The middle item is: Infinix
The last item is: Vivo

Task 5:Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [6]:
mixed_data_types = ['Sadiya', 20, 18.0, 'Single','Hh7 Jere street Unguwar sunusi']

Task 6:Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [7]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Task 7:Print the list using print()

In [8]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Task 8:Print the number of companies in the list

In [9]:
lenght= len(it_companies)
print('The number of companies in the list is:', lenght )

The number of companies in the list is: 7

Task 9:Print the first, middle and last company

In [10]:
first_company = it_companies[0]
print(first_company)

middle_company = it_companies[3]
print(middle_company)

last_company = it_companies[6]
print(last_company)

Facebook
Apple
Amazon

Task 10:Print the list after modifying one of the companies

In [11]:
it_companies[5] = 'Dirrble'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Dirrble', 'Amazon']

Task 11:Add an IT company to it_companies

In [12]:
it_companies.append('Girls Who Code')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Dirrble', 'Amazon', 'Girls Who Code']

Task 12:Insert an IT company in the middle of the companies list

In [24]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Dirrble', 'Amazon','GIrls Who Code']

#insert()
it_companies.insert (4,'Sony')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Sony', 'IBM', 'Dirrble', 'Amazon', 'GIrls Who Code']

Task 13:Change one of the it_companies names to uppercase (IBM excluded!)

In [27]:
item =it_companies[1]
print(item.upper())

GOOGLE

Task 14:Join the it_companies with a string '#;  '

In [30]:
string = ['#;']
print(it_companies + string)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Sony', 'IBM', 'Dirrble', 'Amazon', 'GIrls Who Code', '#', ';', '#;']

Task 15:Check if a certain company exists in the it_companies list.

In [32]:
does_exist = 'Sony' in it_companies
print(does_exist)

True

Task 16:Sort the list using sort() method

In [35]:
it_companies.sort()
print(it_companies)

['#', ';', 'Amazon', 'Apple', 'Dirrble', 'Facebook', 'GIrls Who Code', 'Google', 'IBM', 'Microsoft', 'Sony']

Task 17:Reverse the list in descending order using reverse() method

In [36]:
it_companies.reverse()
print(it_companies)

['Sony', 'Microsoft', 'IBM', 'Google', 'GIrls Who Code', 'Facebook', 'Dirrble', 'Apple', 'Amazon', ';', '#']

Task 18:Slice out the first 3 companies from the list

In [39]:
slice_out = it_companies [0:3]
print(slice_out)

['Sony', 'Microsoft', 'IBM']

Task 19:Slice out the last 3 companies from the list

In [41]:
last_companies = it_companies [8:11]
print(last_companies)

['Amazon', ';', '#']

Task 20:Slice out the middle IT company or companies from the list

In [43]:
middle_companies = it_companies [4:6]
print(middle_companies)

['GIrls Who Code', 'Facebook']

Task 21:Remove the first IT company from the list

In [44]:
it_companies.remove('Sony')
print(it_companies)

['Microsoft', 'IBM', 'Google', 'GIrls Who Code', 'Facebook', 'Dirrble', 'Apple', 'Amazon', ';', '#']

Task 22:Remove the middle IT company or companies from the list

In [45]:
it_companies.remove('Facebook')
print(it_companies)

['Microsoft', 'IBM', 'Google', 'GIrls Who Code', 'Dirrble', 'Apple', 'Amazon', ';', '#']

Task 23:Remove the last IT company from the list

In [46]:
it_companies.remove('Amazon')
print(it_companies)

['Microsoft', 'IBM', 'Google', 'GIrls Who Code', 'Dirrble', 'Apple', ';', '#']

Task 24:Remove all IT companies from the list

In [49]:
del it_companies [0:8]
print(it_companies)

[]

Task 25:Destroy the IT companies list

In [50]:
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

Task 26:Join the lists

In [53]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

#join
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

Task 27:After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [58]:
full_stack = front_end.copy()
print(full_stack)

#insert Python and SQL
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

## Exercises: Level 2

Task 1:lists

In [64]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#sort
ages.sort()
print(ages)

#Find min and max
minimum = min(ages)
maximun = max(ages)
print('The min is :',minimum)
print('The max is:' ,maximun)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The min is : 19
The max is: 26

In [66]:
#add minimum to the list
ages.append(minimum)
print(ages)

#add maximum to the list
ages.append(maximun)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 19]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 19, 26]

In [67]:
#median
median = 24 / 2
print('The median of the ages is:' ,median)

The median of the ages is: 12.0

In [68]:
#average
average = 19+19+20+22+24+24+24+25+25+26+19+19/13
print('The average of the ages is:' ,average)

The average of the ages is: 248.46153846153845

In [69]:
#Range
Range_ages = maximun - minimum
print('The range of the age is:' ,Range_ages)

The range of the age is: 7

In [71]:
#abs() method
compare_one = minimum - average
compare_two = maximun -average
print(abs(compare_one) is abs(compare_two))

False

Task 2:Find the middle country(ies)

In [72]:
countries = ['Afghanistan','Albania','Algeria','Andorra','Angola','Antigua and Barbuda','Argentina','Armenia','Australia','Austria','Azerbaijan','Bahamas','Bahrain','Bangladesh','Barbados','Belarus','Belgium','Belize','Benin','Bhutan','Bolivia','Bosnia and Herzegovina','Botswana','Brazil','Brunei','Bulgaria','Burkina Faso','Burundi','Cambodia','Cameroon','Canada','Cape Verde','Central African Republic','Chad','Chile',
'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

# Determine the middle indices
start_index = len(countries) // 3
end_index = 2 * (len(countries) // 3)

# Print items from the middle
print(countries[start_index:end_index])

['Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria']

Task 2:Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [76]:
new_list = len(countries) //2

list_one = countries [:new_list]
list_two = countries [new_list:]

print('First list:', list_one)
print('Second list:', list_two)

First list: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
Second list: ['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

Task 3:Unpack the first three countries and the rest as scandic countries.

In [78]:
list_three = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_country, second_country, three_country, *scandic = list_three
print(first_country)
print(second_country)
print(three_country)
print(scandic)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']