Day001 Assignment001

Excercise level 2

Task 1: Check the Python version

In [2]:
!python --version

273.65s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Python 3.8.18

Task 2: Do some Calculations on python with number 3 and 4

In [4]:
print(3+4)
print(3-4)
print(3*4)
print(3%4)
print(3/4)
print(3**4)
print(3//4)

7
-1
12
3
0.75
81
0

Task 3: Writing Strings in Python

In [6]:
print('Your name:Sadiya Abdullahi Ladan')
print('Your family name:Ladan')
print('Your country: Nigeria')
print('I am enjoying 30 days of python')

Your name:Sadiya Abdullahi Ladan
Your family name:Ladan
Your country: Nigeria
I am enjoying 30 days of python

Task 4:Checking the Datatypes of the Following

In [9]:
print(type(10))
print(type(9.8))
print(type(3.14))
print(type(4 - 4j))
print(type(['Asabeneh', 'Python', 'Finland']))
print(type('Sadiya Ladan'))
print(type('Ladan'))
print(type('Nigeria'))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>

Exercise: Level 3

Task 5:Writing different Data Types

In [25]:
print(5678)
print(4.890)
print(7-9j)
print('i love to code')
print(True)
print(['Lipton','Toptea','Ahmad Tea','Akbar','Z&Y Tea']) #Tea
print(('Samsung','Nokia','Iphone','Redmi','Tehno','Itel')) #Phones
print({10,20,30,40,50,60,70,80,90,100})
print({
    'first_name':'Sadiya Ladan',
    'middle_name':'Abdullahi',
    'sex':'F',
    'Qualification':'Diploma in Computer science',
    'Height':10.4,
})

5678
4.89
(7-9j)
i love to code
True
['Lipton', 'Toptea', 'Ahmad Tea', 'Akbar', 'Z&Y Tea']
('Samsung', 'Nokia', 'Iphone', 'Redmi', 'Tehno', 'Itel')
{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}
{'first_name': 'Sadiya Ladan', 'middle_name': 'Abdullahi', 'sex': 'F', 'Qualification': 'Diploma in Computer science', 'Height': 10.4}

Task 5: Calculate the Euclidean Distance of (2,3) and (10,8)

In [30]:
# Using the formula d(a,b)^2 = (q-s)^2 + (q-s)^2
a = (2-3)^2
b = (10-8)^2
Answer = a+b
print (Answer)

-3