# Exercises: Day 7

In [1]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

## Exercises: Level 1

Task 1:Find the length of the set it_companies

In [2]:
print(len(it_companies))

7

Task 2:Add 'Twitter' to it_companies

In [4]:
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'IBM', 'Amazon', 'Facebook', 'Twitter', 'Google', 'Apple', 'Oracle'}

Task 3:Insert multiple IT companies at once to the set it_companies

In [5]:
it_companies.update(['Sony','Girls Who Code', 'AIOVTIC'])
print(it_companies)

{'Microsoft', 'IBM', 'Amazon', 'Facebook', 'Twitter', 'Google', 'Apple', 'Sony', 'Girls Who Code', 'AIOVTIC', 'Oracle'}

Task 4:Remove one of the companies from the set it_companies

In [6]:
it_companies.remove('IBM')
print(it_companies)

{'Microsoft', 'Amazon', 'Facebook', 'Twitter', 'Google', 'Apple', 'Sony', 'Girls Who Code', 'AIOVTIC', 'Oracle'}

Task 5:What is the difference between remove and discard

In [7]:
print("Remove method raises an error msg if the item you want to remove is not on the set while discard method does not raise any error msg")

Remove method raises an error msg if the item you want to remove is not on the set while discard method does not raise any error msg

## Exercises: Level 2

Task 1:Join A and B

In [8]:
C = A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

Task 2:Find A intersection B

In [9]:
inter = A.intersection(B)
print('The intersection is:', inter)

The intersection is: {19, 20, 22, 24, 25, 26}

Task 3:Is A subset of B

In [10]:
print(A.issubset(B) )

True

Task 4:Are A and B disjoint sets

In [11]:
print(A.isdisjoint(B))

False

Task 5:Join A with B and B with A

In [14]:
join_A = A.union(B)
print(join_A)
join_B = B.union(A)
print(join_B)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

Task 6:What is the symmetric difference between A and B

In [15]:
sym = A.symmetric_difference(B)
print(sym)

set()

Task 7:Delete the sets completely

In [17]:
del A
del B
print(A)
print(B)

NameError: name 'A' is not defined

## Exercises: Level 3

Task 1:Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [20]:
#convert ages
print(age)
age_set = set(age)
print(age_set)

#compare
a = len(age) > len(age_set)
print(a)
print("Therefore the age list is greater than the age set")

[22, 19, 24, 25, 26, 24, 25, 24]
{19, 22, 24, 25, 26}
True
Therefore the age list is greater than the age set

Task 2:Explain the difference between the following data types: string, list, tuple and set

In [21]:
print("String is a data type that consist of alphanumeric characters.")
print("List consist of items that are ordered and modifiable.")
print("Tuples consist of datatypes or items that are ordered but not changeable.")
print("Set consist of unique item that are unordered ,unindexed and also unmodifiable.")

String is a data type that consist of alphanumeric characters.
List consist of items that are ordered and modifiable.
Tuples consist of datatypes or items that are ordered but not changeable.
Set consist of unique item that are unordered ,unindexed and also unmodifiable.

Task 3:I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [24]:
sentence = {'I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people'}
print('The sentence has 10 unique words:',sentence)

The sentence has 10 unique words: {'to', 'teach', 'people', 'am', 'I', 'teacher', 'a', 'and', 'love', 'inspire'}